html {
    background: #FAF7F2;
  }
  
  .App {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2em;
    margin: auto;
    margin: auto;

    .show-grid-container {
      margin-top:2em;
      width:100%;
    }
  }
  
  